main {
  margin-left: 25%;
  margin-right: 25%;
}

.label-and-input {
  display: flex;
  flex-direction: column;
}

/* 

TODO OK solved problem,
but style that is now for course-section should be for
company section

*/

.course-section {
  position: relative;
}

.course-section::before {
  content: '';
  background-color: var(--beige);
  position: absolute;
  height: 100%;
  z-index: -1;
  width: 200vw;
  left: -100vw;
}

.course-and-date {
  display: flex;
}

.course-and-date > .label-and-input {
  flex: 1;
}

.course-and-date > :first-child {
  margin-right: 2.5%;
}

.phone-and-email {
  display: flex;
}

.phone-and-email > div:first-child {
  width: 38%;
  margin-right: 4%;
}

.phone-and-email > div:nth-child(2) {
  width: 58%;
}
