main {
  margin-left: 25%;
  margin-right: 25%;
}

.label-and-input {
  display: flex;
  flex-direction: column;
}

.course-section {
  background-color: var(--beige);
}

.course-and-date {
  display: flex;
}

.course-and-date > .label-and-input {
  flex: 1;
}

.course-and-date > :first-child {
  margin-right: 2.5%;
}

.phone-and-email {
  display: flex;
}

.phone-and-email > div:first-child {
  width: 38%;
  margin-right: 4%;
}

.phone-and-email > div:nth-child(2) {
  width: 58%;
}
