/* Color codes

beige: #EFDDBF
grey: #F7F5F3
maroon (submit): #573B3F
*/

main {
  margin-left: 25%;
  margin-right: 25%;
}

.label-and-input {
  display: flex;
  flex-direction: column;
}

.course-and-date {
  display: flex;
}

.course-and-date > .label-and-input {
  flex: 1;
}

.course-and-date > :first-child {
  margin-right: 2.5%;
}
